{
  extends: [
    'airbnb',
    'plugin:flowtype/recommended',
  ],
  plugins: ['flowtype'],
  parser: 'babel-eslint',
  rules: {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 0,
    "no-console": [1, {allow: ["warn", "error"] }],
  },
  env: {
    browser: true,
    node: true
  }
}
