@import './variables.scss';

#shuffle {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;

  header {
    position: relative;
    padding: 16px;
    height: 45px;
    margin: 4px 0;


  }
  .list-item {
    margin: 6px;
    padding: 16px;
    list-style-type: none;

    &.list {
      display: block;
    }
    &.grid {
      display: inline-block;
    }
  }
}
