@import './variables.scss';

#shuffle {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;

  header {
    position: relative;
    padding: 16px;
    height: 45px;
    margin: 4px 0;


  }
  .list-item {
    position: relative;
    margin: 0 6px 12px 6px;
    padding: 16px;
    list-style-type: none;

    &:hover button {
      display: block;
    }

    &.list {
      display: block;

      button {
        top: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        width: 52px;
        height: 52px;
        background: $fuscia;
        border: 0;
        border-radius: 4px;
        color: $white;
        font-size: 20px;
      }
    }

    &.grid {
      display: inline-block;

      button {
        top: 0;
        right: 0;
        font-size: 14px;
        background: transparent;
        border: 0;
        color: $fuscia;
      }
    }

    button {
      display: none;
      position: absolute;
    }
  }
}
