$tile-size:       56px;
$square-size:     56px;
$squares-per-row: 11;
$squares-per-col: 7;
$gutter-width:    8px;
$board-width:     $square-size * $squares-per-row;
$board-height:    $square-size * $squares-per-col;

#scrabble {

  .board-border {
    position: relative;
    background: $lightgray;
    margin: 2rem auto;
    width:  $board-width + ($gutter-width * 2);
    height: $board-height + ($gutter-width * 2);
    padding: $gutter-width;
  }

  .board {
    position: relative;
    width:  $board-width;
    height: $board-height;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
  }

  .board-square {
    position: relative;
    width: $square-size;
    height: $square-size;
    background: $white;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;

    &.dragged-over {
      background: darken($white, 8%);
    }

    // Only the right-edge ones should have a right border
    &:nth-child(#{$squares-per-row}n + 1) {
      border-right: 1px solid #AAA;
    }
    // Only the bottom row should have a bottom border.
    &:nth-child(n+#{$squares-per-row * $squares-per-col - $squares-per-row + 2}) {
      border-bottom: 1px solid #AAA;
    }
  }

  .tile {
    position: absolute;
    z-index: 2;
    width: $tile-size;
    height: $tile-size;
    background: $yellow;
    cursor: move;
    -webkit-box-shadow:
      0.5px 0.5px 0px $fadedyellow,
      1px 1px 0px $fadedyellow,
      1.5px 1.5px 0px $fadedyellow,
      2px 2px 0px $fadedyellow,
      2.5px 2.5px 0px $fadedyellow,
      3px 3px 0px $fadedyellow,
    ;
    box-shadow:
      0.5px 0.5px 0px $fadedyellow,
      1px 1px 0px $fadedyellow,
      1.5px 1.5px 0px $fadedyellow,
      2px 2px 0px $fadedyellow,
      2.5px 2.5px 0px $fadedyellow,
      3px 3px 0px $fadedyellow,
    ;

    &.draggable { cursor: move; }

    &.is-dragging { opacity: 0.7; }

    &.is-established {
      background: lighten($yellow, 15%);
    }

    .tile-letter {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: $tile-size * 0.5;
      line-height: $tile-size;
      text-align: center;
      font-weight: 700;
      color: $darkgray;
    }

    .tile-points {
      position: absolute;
      top: 0;
      right: -2px;
      width: $tile-size * 0.4;
      height: $tile-size * 0.4;
      line-height: $tile-size * 0.4;
      text-align: center;
      font-size: $tile-size * 0.25;
      color: $fadedyellow;
    }
  }

  .controls {
    position: relative;
    margin: 1rem auto;
    width:  $board-width + ($gutter-width * 2);
    text-align: right;
  }

}
