// Colours
$white:     #FFFFFF;
$lightgray: #CFDEDB;
$darkgray:  #333636;
$aqua:      #1B90A1;
$fuscia:    #F34D93;
$mauve:     #8C658F;

// Used in Scrabble demo
$yellow:      #FFD959;
$fadedyellow: #BDA259;
