@import './normalize.scss';
@import './header.scss';
@import './variables.scss';

@import './1_shuffle.scss';
@import './2_square.scss';


*, *:before, *:after { box-sizing: border-box; }

html, body, input, button, select, option {
  color: $darkgray;
  font-family: "museo-sans-rounded", sans-serif;
}

body {
  background: $aqua;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.abs-left {
  position: absolute;
  left: 0;
}
.abs-right {
  position: absolute;
  right: 0;
}

ul {
  padding: 0;
}

.button-toggle {
  position: relative;
  border: 0;
  border-radius: 6px;
  border-bottom: 3px solid rgba(0,0,0,0.3);
  background: $mauve;
  color: $white;
  margin: 0 5px;
  padding: 8px 20px 8px 43px;
  font-size: 12px;
  outline: none;

  i {
    position: absolute;
    left: 10px;
    font-size: 16px;
  }

  &:active {
    top: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &.active {
    background: $fuscia;
  }
}
